server {
 	listen 28643;
 	server_name 127.0.0.1;
 	ssl on;
 	ssl_certificate /mnt/ramtemp/Myre_progress.crt;
 	ssl_certificate_key /mnt/ramtemp/Myre_progress.key;
 	error_page  497 https://$server_name:$server_port$request_uri;

 	location /static {
 		 alias /mnt/ramtemp/statics;
 	 }

 	location / {
 		 include uwsgi_params;
 		 uwsgi_pass unix:/tmp/Myre_progress.sock;
 		 proxy_set_header X-Forwarded-Proto $scheme;
 	 }
 }