{% extends "base.html" %}

{% block title %}{{ book_name }} details{% endblock %}

{% block scripts_linked %}

{% endblock %}

{% block scripts %}
{% with color_true="green" symbol_true="V" color_false="red" symbol_false="X" %}

	{% if user.is_staff %}
		<script type="text/javascript">
			//script for checkboxes and forms
			var COLOR_TRANS = "orange";
			var SYMBOL_TRANS = "O";
			var COLOR_ERROR = "white";
			var SYMBOL_ERROR = "Err";
			var COLOR_TRUE = "{{color_true}}";
			var SYMBOL_TRUE = "{{symbol_true}}";
			var COLOR_FALSE = "{{color_false}}";
			var SYMBOL_FALSE = "{{symbol_false}}";

/////////////////
///////////CSRF token for DJANGO
////////////////
var csrftoken = "{{ csrf_token }}";
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
/////////////////
/////////END  handling CSRF token
////////////////////

			$(document).ready(function(){
				console.log("Script started");
				$(".editable_checkbox").click(function(event){
					var id = $(this).attr('id');
					var parse = id.split("-");
					var page_number = parse[0];
					var property = parse[1];

					var set_checkbox = function(elem, val){
						//toggles what the checkbox looks like
						var text = elem.text().trim();

						if(val == 0)
						{
							elem.css({"background-color": COLOR_FALSE});
							elem.text(SYMBOL_FALSE);
						}
						else if(val == 1)
						{
							elem.css({"background-color": COLOR_TRUE});
							elem.text(SYMBOL_TRUE);
						}
						else if(val == -1)
						{
							elem.css({"background-color": COLOR_TRANS});
							elem.text(SYMBOL_TRANS);
						}
						else if(val == -2)
						{
							elem.css({"background-color": COLOR_ERROR});
							elem.text(SYMBOL_ERROR);
						}
					};

	//set to wait trans state
	var style_buf = {"background-color": $(this).css("background-color")};
	var text_buf = $(this).text();
	set_checkbox($(this), -1);

						$.ajax({
							url: "/api1/book/" + {{book_id}} + "/page/" + page_number + "/set_page_property",
							type: "POST",
							dataType: "Json",
							context: $(this), //Specifies the "this" value for all AJAX related callback functions; needed, cuz callbacks don't get "this" on their own.
							data: JSON.stringify({"page_number": page_number, "property": property}),
							success: function(data, status){
								console.log("Success!");//debug
								set_checkbox($(this), data.value);
							},
							error: function(xhr, status, error){
								console.log("Error!");//debug
								console.log(error);//debug
								set_checkbox($(this), -2);
							}
						});
				});//editable_checkbox click

				//TODO: make routines for forms (AJAX callbacks to API).

				$("#insert-page-form-toggle-button").click(function(){
				$("#insert-page-form").slideToggle("fast", "linear");
				});
				$("#insert-page-form").hide();//The benefit of this version over style "display:none": if jquery disappears, we default to form being shown.

				$("#insert-page-form").submit(function(e){
					console.log("#insert-page-form");//debug

					var insert_at = $("#id_insert_at").val();
					var pages_amount = $("#id_amount").val();
					console.log(insert_at + " " + pages_amount);//debug

					$.ajax({
						url: "{% url 'myreprogress:API. Add pages to book' book_id=book_id %}",
						type: "POST",
						dataType: "Json",
						context: $(this), //Specifies the "this" value for all AJAX related callback functions; needed, cuz callbacks don't get "this" on their own.
						data: JSON.stringify({"insert_at": insert_at, "pages_amount": pages_amount}),
						success: function(data, status){
							console.log("Insertion success!");//debug
							console.log(data);//debug
							location.reload();
						},
						error: function(xhr, status, error){
							console.log("Insertion error!");//debug
							console.log(status);//debug
							console.log(error);//debug
						}
					});

					return false; // prevents refresh
					// return true;
				;})//$("#insert-page-form").submit

				$("#validate-pages-button").click(function(){
					$.ajax({
						url: "{% url 'myreprogress:API. Validate page numbers' book_id=book_id %}",
						type: "POST",
						dataType: "Json",
						context: $(this), //Specifies the "this" value for all AJAX related callback functions; needed, cuz callbacks don't get "this" on their own.
						// data: JSON.stringify({"insert_at": insert_at, "pages_amount": pages_amount}),
						success: function(data, status){
							console.log("Validation success!");//debug
							console.log(data);//debug
							location.reload();
						},
						error: function(xhr, status, error){
							console.log("Validation error!");//debug
							console.log(status);//debug
							console.log(error);//debug
						}
					});//ajax

				});//$("#validate-pages-button").click

				$(".page-delete-button").click(function(event){
					var id = $(this).attr('id');
					var parse = id.split("-");
					var page_number = parseInt(parse[0]);

					$.ajax({
						url: "{% url 'myreprogress:API. Delete pages' book_id=book_id %}",
						type: "POST",
						dataType: "Json",
						context: $(this), //Specifies the "this" value for all AJAX related callback functions; needed, cuz callbacks don't get "this" on their own.
						data: JSON.stringify({"pages_to_delete": page_number}),
						success: function(data, status){
							console.log("Deletion success!");//debug
							console.log(data);//debug
							location.reload();
						},
						error: function(xhr, status, error){
							console.log("Deletion error!");//debug
							console.log(status);//debug
							console.log(error);//debug
						}
					});//ajax
				});//$(".page-delete-button").click

			});//ready
		</script>
	{% endif %}
{% endwith %}

{% endblock %}

{% block body %}
{% with color_true="green" symbol_true="V" color_false="red" symbol_false="X" %}

Book "{{ book_name }}" stats<br>

{% if user.is_staff %}
	<button type="button" id="insert-page-form-toggle-button">Insert pages</button>
	<button type="button" id="validate-pages-button">Validate pages</button>
	{% block insert_form %}{% endblock %}
	<form method="post" id="insert-page-form">
		{% csrf_token %}
		{{ insert_page_form.as_p }}
		<input type="submit" value="Insert" />
	</form>
{% endif %}

<table>
	<tr>
		{% if user.is_staff %}
		<th></th><!-- delete buttons under this one-->
		{% endif %}
		<th>Page number</th>
		<th>sketched </th>
		<th>colored</th>
		<th>edited</th>
		<th>proofread</th>
	</tr>
	{% for page in book_pages %}
	<tr>
		{% with sketched=page.sketched colored=page.colored edited=page.edited proofread=page.proofread %}
		{% if user.is_staff %}
		<td><button type="button" id="{{page.page_number}}-delete-button" class="page-delete-button">X</button></td>
		{% endif %}
		<td>Page {{ page.page_number }}</td>
		<td id="{{page.page_number}}-sketched" 
		class={% if user.is_staff %}"editable_checkbox"{% else %}"display_checkbox"{% endif %} 
		style="background-color: {% if sketched %}{{color_true}}{% else %}{{color_false}}{% endif %}">
		{% if sketched %}{{symbol_true}}{% else %}{{symbol_false}}{% endif %}</td>
		<td id="{{page.page_number}}-colored" 
		class={% if user.is_staff %}"editable_checkbox"{% else %}"display_checkbox"{% endif %} 
		style="background-color: {% if colored %}{{color_true}}{% else %}{{color_false}}{% endif %}">
		{% if colored %}{{symbol_true}}{% else %}{{symbol_false}}{% endif %}</td>
		<td id="{{page.page_number}}-edited" 
		class={% if user.is_staff %}"editable_checkbox"{% else %}"display_checkbox"{% endif %} 
		style="background-color: {% if edited %}{{color_true}}{% else %}{{color_false}}{% endif %}">
		{% if edited %}{{symbol_true}}{% else %}{{symbol_false}}{% endif %} </td>
		<td id="{{page.page_number}}-proofread" 
		class={% if user.is_staff %}"editable_checkbox"{% else %}"display_checkbox"{% endif %} 
		style="background-color: {% if proofread %}{{color_true}}{% else %}{{color_false}}{% endif %}">
		{% if proofread %}{{symbol_true}}{% else %}{{symbol_false}}{% endif %}</td>
		{% endwith %}
	</tr>
	{% endfor %}
</table>
{% endwith %}
{% endblock %}
